//MARGING Y PADDING//

.pl-4{
	padding-left:4%;
}

//utilities//

.text-gray{
	color:$grist;
}

.mt-10{
	margin-top:10%;
}

.mt-5{
	margin-top:5%;
}

.mt-3{
	margin-top:3%;
}

.ml-10{
	margin-left:10%;
}

.mb-5{
	margin-bottom:5%;
}